@import "~antd/dist/antd.css";

.App {
  height: 100%
}

body {
  background-size: fixed;

   background: #00304c;
   /*Linear gradient...*/ 
   background: 
    radial-gradient(
     at center, #004972, #00304c
    ); 

}

.ant-card-head {
  background-color: #001624;
}

.ant-card-head-title {
  color: white;
}

.ant-card,
.ant-card-bordered {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to right, #052b44 , #001826); 
  border-color: black;
  color: white;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 40px;
}

.ant-card,
.ant-card-bordered h1 {
  color: white;
}

.ant-form-item label {
  color: white
}


#wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#findcreate{
  margin: auto;
  position: relative;
}

#containerCenter {
    display: flex;           /* establish flex container */
    flex-direction: row;     
    justify-content: center; /* center items vertically, in this case */
    align-items: center;     /* center items horizontally, in this case */
    height: 300px;
}

.ant-card-actions {
  background-color: #001826  
}

.ant-card-actions .anticon {
  color: white;
}

#box {
  order: 1;
  text-align: center;
  width: 500px;
}

#boxItem {
  order: 1;
}

#item {
  order: 1;
  margin-right: 10px;
}

#menuitem {
  order: 2;
  margin-left: auto;
}

#button {
  order: 1;
  margin-right: 10px;
} 
#right {
  order: 2;
}

#menu-item {
  order: 2;
  margin-left: auto;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-header h1 {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

